[submodule "zencoding"]
	path = zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim-preview"]
	path = vim-preview
	url = git://github.com/greyblake/vim-preview.git
[submodule "vimwiki"]
	path = vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "html5.vim"]
	path = html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "vim-autoclose"]
	path = vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "Vim-Jinja2-Syntax"]
	path = Vim-Jinja2-Syntax
	url = git://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "vim-less"]
	path = vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "cvim"]
	path = cvim
	url = git://github.com/vim-scripts/c.vim.git
[submodule "a-vim"]
	path = a-vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "processing"]
	path = processing
	url = git://github.com/sophacles/vim-processing.git
[submodule "vim-bundle-mako"]
	path = vim-bundle-mako
	url = git://github.com/sophacles/vim-bundle-mako.git
[submodule "vim-jade"]
	path = vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "evervim"]
	path = evervim
  url = git://github.com/kakkyz81/evervim.git
[submodule "jedi-vim"]
	path = jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "conque-term"]
	path = conque-term
	url = git://github.com/rosenfeld/conque-term.git
[submodule "riv.vim"]
	path = riv.vim
	url = git://github.com/Rykka/riv.vim.git
[submodule "vim-golang"]
	path = vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "vim-jsbeautify"]
	path = vim-jsbeautify
	url = git@github.com:maksimr/vim-jsbeautify.git
[submodule "vim-stylus"]
	path = vim-stylus
	url = git@github.com:wavded/vim-stylus.git
[submodule "mango.vim"]
	path = mango.vim
	url = git@github.com:goatslacker/mango.vim.git
[submodule "powerline"]
	path = powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "twilight.vim"]
	path = twilight.vim
	url = git@github.com:marcelbeumer/twilight.vim.git
[submodule "applescript.vim"]
	path = applescript.vim
	url = git@github.com:vim-scripts/applescript.vim.git
[submodule "ultisnips"]
	path = ultisnips
	url = git://github.com/MarcWeber/ultisnips.git

[submodule "vim-session"]
	path = vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "vim-misc"]
	path = vim-misc
	url = git://github.com/xolox/vim-misc.git
